#bio-content {
  display:flex;
  align-items: center;
}

#bio {
  font-family: 'Kalam', cursive;
  position: relative;
  width: 80%;
  margin: auto;
}

#about-header {
  height: 10rem;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo Bhai', cursive;
  background-color: #3fbac2;
  margin-bottom: 2rem;
}

.image {
  width:100%;
}

.titleHead {
  font-family: 'Long Cang', serif;
  font-size: 7rem;
  font-weight: bolder;
  text-align: center;
}

.description {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.btnRightAlign {
  display:flex;
  justify-content: flex-end;
}

.portfolioBtn {
  text-align: center;
  width: 200px;
}
