#bio-content {
  display:flex;
  align-items: center;
}

#bio {
  font-family: 'Kalam', cursive;
  position: relative;
  width: 80%;
  margin: auto;
}

#about-header {
  height: 10rem;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo Bhai', cursive;
  background-color: #3fbac2;
  margin-bottom: 2rem;
}

.image {
  width:100%;
}