#header {
  height: 10rem;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo Bhai', serif;
  background-color: #3fbac2;
  margin-bottom: 1rem;
}

.portfolioContent {
  margin-top: 180px;
  margin-bottom: 20px;
}