.about-grid-container {
  display: grid;
  /* 40px: outer margin layer */
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-auto-rows: min-content;
  min-height: 100vh;
  min-width: 100%;
  max-width: 100%;
  background: var(--white);
  color: var(--black);
}

.about-grid-container:nth-last-child(1) {
  grid-column: 1 / span 5;
}

/* About Image */
.self-portrait {
  grid-column: 1 / span 5;
  border-style: solid;
  border-color: var(--red);
  border-width: 20px 0 20px 0;
}


/* Layout styles -----------------------------------*/
@media (max-width: 728px) {
  /* About Image */
  .self-portrait {
    grid-column: 1 / span 5;
    border-style: solid;
    border-color: var(--red);
    border-width: 20px 0 20px 0;
  }
  .about-grid {
    height: 100%;
    width: 100%;
  }
}