.portfolio-grid-container{
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  /*
    120px rows are reserved for page-headers and page-footers 
    middle repeat(auto, 1fr) is meant to auto create rows for every div
  */
  grid-auto-rows: min-content;
  /* grid-template-rows: 120px repeat(auto, 1fr) 120px; */
  min-height: 100vh;
  min-width: 100%;
  background: var(--white);
  color: var(--black);
}

.portfolio-body {
  grid-row: 2;
  grid-column: 1 / span 5;
}


