

@media (min-width: 960px) {
  
}

/* Styles */
.welcome-grid {
  position: absolute;
  background: transparent;
  margin:0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.welcome-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: absolute;
  z-index: 100;
}

/* Background flower animation styles */
.flower-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
 }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
 }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
 }
}

.flower {
  position: relative;
  width: 9em;
  height: 9em;
  border-radius: 50%;
  padding: 0;
  -webkit-animation: spin 20s linear infinite;
  -moz-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;
}
.flower > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12.5em;
  width: 25em;
  height: 25em;
  /* border-radius: 50%; */
  border: 3px double var(--black);
}

.flower > .petals:nth-of-type(1n) {
  transform: rotate(0deg) translate(4.5em) rotate(0deg);
}
.flower > .petals:nth-of-type(2n) {
  transform: rotate(72deg) translate(4.5em) rotate(-72deg);
}
.flower > .petals:nth-of-type(3n) {
  transform: rotate(144deg) translate(4.5em) rotate(-144deg);
}
.flower > .petals:nth-of-type(4n) {
  transform: rotate(216deg) translate(4.5em) rotate(-216deg);
}
.flower > .petals:nth-of-type(5n) {
  transform: rotate(288deg) translate(4.5em) rotate(-288deg);
}
.flower > .petals:nth-of-type(1) {
  /* background-color: var(--teal); */
  transform: rotate(0deg);
}
.flower > .petals:nth-of-type(2) {
  /* background-color: var(--navy); */
  transform: rotate(18deg);
}
.flower > .petals:nth-of-type(3) {
  /* background-color: var(--gray); */
  transform: rotate(36deg);
}
.flower > .petals:nth-of-type(4) {
  /* background-color: var(--skin); */
  transform: rotate(54deg);
}
.flower > .petals:nth-of-type(5) {
  /* background-color: var(--red); */
  transform: rotate(72deg);
}
.flower_box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 9em; */
}
#pistil {
  position: absolute;
  width: 25em;
  height: 25em;
  /* background-color: var(--white); */
  /* border: 1px solid var(--black); */
  border-radius: 50%;
}

/* Layout styles -----------------------------------*/
@media (max-width: 728px) {
  .flower > * {
    margin: -135px;
    width: 270px;
    height: 270px;
  }

  .welcome-grid {
    height: 100%;
    width: 100%;
  }
}