.project-card {
  align-self: center;
  justify-self: center;
  background: white;
  height: 470px;
  width: 400px;
  margin: 100px 0;
}

.project-item-container {
  height: 470px;
  box-shadow: 0px -5px 10px var(--skin),
              0px 5px 10px var(--skin);
}

.project-image {
  height: 250px;
  background: var(--skin);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px 10px var(--skin);
}

.project-image:hover {
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.5s ease-in-out;
}

.project-content {
  padding: 10px;
  height: 225px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:  'title        title'
                        'description  description'
                        'github       github';
  box-shadow: inset 0 0 20px var(--skin);
}

.project-title {
  grid-area: title;
  padding: 10px 0;
}

.project-description {
  grid-area: description;
  height: 100px;
}

.project-description > p {

  text-overflow: hidden;
}

.project-github {
  grid-area: github;
  display: flex;
  justify-content: flex-end;
}

.github-button {
  height: 100%;
  width: 80px;
  background: transparent;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
}

.github-icon {
  text-decoration: none;
  color: black;
}

.github-icon::after {
  text-decoration: none;
}