.about-grid-container {
  display: grid;
  /* 40px: outer margin layer */
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-auto-rows: min-content;
  min-height: 100vh;
  min-width: 100%;
  background: var(--white);
  color: var(--black);
}

.about-grid-container:nth-last-child(1) {
  grid-column: 1 / span 5;
}

/* About Image */
.self-portrait {
  grid-column: 1 / span 5;
  border-style: solid;
  border-color: var(--red);
  border-width: 20px 0 20px 0;
}

.skillset-container {
  grid-column: 1 / span 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background: var(--red);
  color: var(--white)
}

#skill-text-container {
  grid-row: 1 / span 4;
  grid-column: 1 / span 2;
  padding: 30px 0 30px 0;
}

#skill-text-container > div {
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 10px var(--black);
}

#skill-text-container > div:nth-child(1) {
  font-size: 50px;
  padding: 30px;
  justify-content: flex-start;
  margin-left: 20px;
  text-decoration: underline;
}

#skill-text-container > div:nth-child(2) {
  margin-left: 210px;
  font-size: 30px;
}

#skill-text-container > div:nth-child(3) {
  font-size: 50px;
  padding: 30px;
  margin-left: 250px;
  text-decoration: underline;
}

.skill-list {
  grid-row: 1 / span 4;
  grid-column: 3 / span 4;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 60px;
  margin: 5px;
  background: var(--white);
  border: 1px solid var(--black);
  transition: transform .2s; 
}

.skill-title {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: var(--black)
}

.skill-item:hover {
  /* Animation for when mouse is on top of div */
  transform: scale(1.5);
}

/* Habit Section Styling */
.habits {
  margin: 40px 0 80px 0;
  grid-column: 3;
  display: grid;
  grid-template-rows: 1fr auto;
}

.habits-header {
  margin: 40px 0px;
  font-size: 50px;
  /* padding: 10px; */
  color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.habits-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

/* Image Gallery Section Styling */
.image-gallery {
  grid-column: 1 / span 5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  border-style: solid;
  border-color: var(--red);
  border-width: 20px 0 20px 0;
}

.imgbox {
  display: grid;
  height: 100%;
}

.imgbox > img {
  width: 100%;
  height: auto;
}



/* Layout styles -----------------------------------*/
@media (min-width: 620px) {

}

@media (min-width: 960px) {
  
}