@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Dancing+Script|Kalam|Long+Cang|Righteous|Zhi+Mang+Xing&display=swap');

.navbar-light .navbar-brand {
  color: #eeeeee;
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 1.5rem;
}


.navbar-light .navbar-brand:active,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:hover {
  color: #3fbac2;
}

.navbar-light .navbar-nav .nav-link {
  color: #eeeeee;
  font-family: 'Righteous', cursive;
}