.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* 
.section-title {
  display:block;
  color: #222831;
  font-family: 'Rubik', cursive;
  font-size: 5rem;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.section-title::after {
  text-decoration: none;
  border-radius: 1em;
  border-top: .1em solid #c40b13;
  content: "";
  position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1);
}

.section-title:hover  {
  color: #c40b13;
  text-decoration: none;
  transition: color .4s ease-out;
}

.section-title:hover::after {
  right: 0;
} */