.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}

.main-navigation__title {
  color: #eeeeee;
  margin: 0;
  font-family: 'Zhi Mang Xing', serif;
}

.main-navigation__title a {
  text-decoration: none;
  color: white;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}

/* 
.navbar-light .navbar-brand {
  color: #eeeeee;
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 1.5rem;
}


.navbar-light .navbar-brand:active,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:hover {
  color: #3fbac2;
}

.navbar-light .navbar-nav .nav-link {
  color: #eeeeee;
  font-family: 'Righteous', serif;
} */