.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(20%, 20vmax);
  padding: 1rem;
}

.habit {
  grid-column: 1;
  grid-row: 1;
  background-color: red;
  padding: 1rem;
}

.project-cards { 
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-color: blue;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-projects {
  grid-column: 1;
  grid-row: 2 / 5;
  background-color: black;
  padding: 1rem;
}

.playground {
  grid-column: 2;
  grid-row: 3;
  background-color: goldenrod;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.playground > h1 {
  font-size: 5rem;
  font-family: 'Oswald', cursive;
}

.HTML {
  grid-column: 3;
  grid-row: 3;
  background-color: yellow;
  padding: 1rem;
}

.CSS {
  grid-column: 2;
  grid-row: 4;
  background-color: green;
  padding: 1rem;
}

.Javascript {
  grid-column: 3;
  grid-row: 4;
  background-color: orangered;
  padding: 1rem;
}