.skill-list {
  grid-row: 1 / span 4;
  grid-column: 3 / span 4;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 60px;
  margin: 5px;
  background: var(--white);
  border: 1px solid var(--black);
  transition: transform .2s; 
}

.skill-title {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: var(--black)
}

.skill-item:hover {
  /* Animation for when mouse is on top of div */
  transform: scale(1.5);
}

/* Layout styles -----------------------------------*/
@media (max-width: 728px) {
  .skill-list {
    grid-column: 1;
    grid-row: 2;
  }
}