#about-grid {
  padding: 80px;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

#content {
  margin-top: 150px;
  width: 85%;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 80px;
  padding: 50px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 30px;
}

#spiel {
  padding-top: 100px;
  align-content: center;
  vertical-align: middle;
}

#about-title {
  position: absolute;
  display:flex;
  justify-content: center;
  top: 50px;
  font-family: "Dancing Script", cursive;
  font-size: 6em;
  font-weight: 700;
  /* opacity: .8; */
  font-style: italic;
  color: var(--cardinal);
  z-index: -1;
}

#portrait > img {
  height: 400px;
  border-radius: 50%;
  border: 10px var(--darkred) solid;
}