#contact-grid {
  height: 100vh;
  width: 100vw;
  padding: 80px 50px;
  display: grid;
  color: var(--white);
  background: var(--darkgrey);
}

#posts-container {
  position: relative;
  grid-area: 2/1/2/span 2;
  background: var(--lightgrey);
  border-radius: 20px;
  padding: 50px;
  margin: 30px;
}

#contact-head {
  grid-area: 1/1/1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  margin: 30px 80px 0 80px;
  border-radius: 50px;
  background: var(--darkgrey);
  box-shadow:  23px 23px 46px #121212, 
             -23px -23px 46px #3a3a3a;
  text-align: center;
  
}

#contact-title {
  /* Gradient text css */
  background-color: var(--cardinal);
  background-image: linear-gradient(315deg, var(--cardinal) 0%, var(--flame) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  font-size: 4em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

#contact-message {
  margin: 30px;
  font-size: 1.2rem;
  color: rgb(245, 245, 245, 0.8);
}

#info {
  margin: 30px 30px 0 30px;
  background-color: var(--cardinal);
  background-image: linear-gradient(315deg, var(--cardinal) 0%, var(--flame) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#info ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#info h3 {
  margin: 10px 0px;
}

.contact-btn {
  width: 200px;
  height: 50px;
  margin: 0 auto 30px auto;
  
  background-color: var(--flame);
  background-image: linear-gradient(315deg, var(--cardinal) 0%, var(--flame) 74%);

	text-decoration:none;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	font-size: 1rem;
	padding: 6px 15px;
}

.contact-btn > a{
  color: var(--white);
	text-decoration:none;
}