#contact-grid {
  height: 100vh;
  width: 100vw;
  padding: 80px 50px;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 1fr;
  color: var(--white);
  background: var(--darkgrey);
}

#posts-container {
  position: relative;
  grid-area: 2/1/2/span 2;
  background: var(--lightgrey);
  border-radius: 20px;
  padding: 50px;
  margin: 30px;
}

#contact-head {
  grid-area: 1/1/1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  margin: 30px;
  border-radius: 50px;
  background: var(--darkgrey);
  box-shadow:  23px 23px 46px #121212, 
             -23px -23px 46px #3a3a3a;
  text-align: center;
  
}

#contact-title {
  /* Gradient text css */
  background-color: var(--cardinal);
  background-image: linear-gradient(315deg, var(--cardinal) 0%, var(--flame) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  font-size: 4em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
#contact-message {
  margin: 30px;
  color: rgb(245, 245, 245, 0.8);
}

#info {
  margin: 30px 30px 0 30px;
  background-color: var(--cardinal);
  background-image: linear-gradient(315deg, var(--cardinal) 0%, var(--flame) 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#info ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#info h3 {
  margin: 10px 0px;
}

#contact-form {
  position: relative;
  grid-area: 1/2/1/2;
  padding: 50px;
  margin: 30px;
  border-radius: 50px;
  background: var(--darkgrey);
  box-shadow:  23px 23px 46px #121212, 
             -23px -23px 46px #3a3a3a;
}

#sender-info {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

#sender-message {
  margin-bottom: 30px;
  z-index: 99;
}

#contact-form div input {
  color: var(--white);
  padding: 10px 20px;
  margin: 10px 0px;
  width: 100%;
  /* border: 3px dotted var(--turqoise); */
  font-size: 20px;
  
  /* neomorphism style */
  border-radius: 25px;
  background: var(--lightgrey);
  box-shadow: inset 12px 12px 24px #161616, 
            inset -12px -12px 24px #363636;
  border: none;
}

#contact-form textarea {
  display: flex;
  align-content: flex-start;

  color: var(--white);
  padding: 20px;
  width: 100%;
  height: 300px;
  /* border: 3px dotted var(--turqoise); */
  font-size: 20px;

  /* neomorphism style */
  border-radius: 20px;
  background: var(--darkgrey);
  box-shadow: inset 28px 28px 56px #1a1a1a, 
            inset -28px -28px 56px #323232;

  /* Removing textarea default stylings */
  outline: none;
  border: none;
  resize: none;
}

#contact-btn {
  position: absolute;
  color: var(--lightgrey);
  border-radius: 15px;
  font-size: 16px;
  padding: 8px 15px;
  bottom: 30px;
  right: 50px;
  background-color: #44b09e;
  background-image: linear-gradient(315deg, lightgrey 0%, darkgrey 74%);
}