#transform-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: 'Rubik', serif;
  font-weight: bolder;
  z-index: 50;
  -webkit-font-smoothing: antialiased;
}
#transform-container a {
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-draw > span {
  position: relative;
  display: block;
  padding: 0.6em 1.2em 0.6em 1.2em;
  color: inherit;
  text-align: center;
}

.btn-draw {
  /* Display position relative to the parent element */
  position: relative;
  /* Allows the button to be surrounded by other elements and doesn't allow it to take up the whole width */
  display: inline-block;
  /* Color of the text in the button (removes the styling blue of hovered link) */
  color: var(--black);
  /* Shows the bottom line underneath the button */
  border-bottom: 2px solid var(--black);
  /* Changes the cursor when hovered on button */
  cursor: default;
  /* This hides the lines that will eventually encircle the button on hover */
  overflow: hidden;
  /* Set the button's box-shadow to zero so normally it doesn't show */
  box-shadow: 0;
  /* Allows the box shadow to ease out after button is no longer hovered over */
  transition: box-shadow 0.3s ease-in-out;
}

/* This is responsible for the right border line to slide up */
.btn-draw:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 2px;
  background: var(--black);
  transform: translateY(100%);
  transition: transform 0.2s ease-in-out;
  transition-delay: 0.6s;
}

/* Not 100% sure what this part does */
.btn-draw > span:before, .btn-draw > span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: var(--black);
  transition: transform 0.2s ease-in-out;
}

/* Responsible for the top border line sliding in */
.btn-draw > span:before {
  height: 2px;
  width: 100%;
  transform: translateX(100%);
  transition-delay: 0.4s;
}

/* Responsible for the left border line sliding in */
.btn-draw > span:after {
  height: 100%;
  width: 2px;
  transform: translateY(-100%);
  transition-delay: 0.2s;
}

/* Without this lines will not move to circle the button */
.btn-draw:hover:after, .btn-draw:hover > span:before, .btn-draw:hover > span:after {
  transform: translate(0, 0);
}

/* Timing the right border line sliding up */
.btn-draw:hover:after {
  transition-delay: 0s;
}

/* Timing the top border line sliding up */
.btn-draw:hover > span:before {
  transition-delay: 0.2s;
}

/* Timing the left border line sliding down */
.btn-draw:hover > span:after {
  transition-delay: 0.4s;
}

/* Shows the box shadow after circling of button is completed */
.btn-draw:hover {
  color: var(--black);
  text-decoration: none;
  box-shadow: 10px 5px 5px var(--black);
  /* background-color: var(--black); */
  transition: box-shadow 0.3s ease-in-out;
  transition-delay: 0.6s;
}