#about-header {
  height: 10rem;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo Bhai', cursive;
  background-color: #3fbac2;
  margin-bottom: 2rem;
}


.description {
  height: 150px;
}

.projectCardSpace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.portfolioContent {
  margin-top: 180px;
  margin-bottom: 20px;
}