@media (min-width: 620px) {
  .home-grid {
    /* column-count: 1; */
    
  }
  
  section {
    break-inside: avoid;
  }
}

@media (min-width: 960px) {

}

/* Styles */
.home-grid-container {
  display: grid;
  grid-template-rows: 1fr;
  height: 100vh;
  background: #FBF2C0;
  color: var(--black);
}

.position-progress-bar {
  position: absolute;
  right: 30px;
  top: 60px;
  width: 20px;
  height: 160px;
  background: transparent;
}