.scheme-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px;
}


/* Layout styles -----------------------------------*/
@media (max-width: 728px) {
  .scheme-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 960px) {
  
}