#skill-text-container {
  grid-row: 1 / span 4;
  grid-column: 1 / span 2;
  padding: 30px 0 30px 0;
}

#skill-text-container > div {
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 10px var(--black);
}

#skill-text-container > div:nth-child(1) {
  font-size: 50px;
  padding: 30px;
  justify-content: flex-start;
  margin-left: 20px;
  text-decoration: underline;
}

#skill-text-container > div:nth-child(2) {
  margin-left: 210px;
  font-size: 30px;
}

#skill-text-container > div:nth-child(3) {
  font-size: 50px;
  padding: 30px;
  margin-left: 250px;
  text-decoration: underline;
}