/* Habit Section Styling */
.habits {
  margin: 40px 0 80px 0;
  grid-column: 3;
  display: grid;
  grid-template-rows: 1fr auto;
}

.habits-header {
  margin: 40px 0px;
  /* padding: 10px; */
  color: var(--red);
  display: block;
  text-align: center;
}

.habits-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

/* Image Gallery Section Styling */
.image-gallery {
  grid-column: 1 / span 5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  border-style: solid;
  border-color: var(--red);
  border-width: 20px 0 20px 0;
}

@media (max-width: 728px) {
  .habits {
    margin: 40px 0 80px 0;
    grid-column: 2 / span 3;
  }

  .habits-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}