@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Dancing+Script|Kalam|Long+Cang|Righteous|Zhi+Mang+Xing&display=swap');

.bubbles {
  padding: 20px;
  margin: 5px;
  transition: transform .2s;
}

.bubbles:hover {
  font-size: 30;
  background-color: goldenrod;
  transform: scale(1.5);
}

.bubbleClump {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 40%;
  height: 80%;
  margin: auto;
}